@page
@model Market.Pages.ShopPromotionModel
@{
    ViewData["Title"] = "User Promotion";
}
<div class="container">
    <p>
        <input type="text" id="username" name="Username" value="@Model.UserNameInput" onkeyup="checkInput()" placeholder="enter username"/>
    </p>
    <p>
        <button id="managerButton" class="btn btn-primary" disabled>make a manager</button>
    </p>
    <p>
        <button id="ownerButton" class="btn btn-primary" disabled>make a owner</button>
    </p>
</div>

@section Scripts{
    <script>
        function checkInput() {
            var userNameInput = document.getElementById("username");
            var button1 = document.getElementById("managerButton");
            var button2 = document.getElementById("ownerButton");
            if (userNameInput.value.trim().length > 0) {
                button1.disabled = false;
                button2.disabled = false;
            }
            else {
                button1.disabled = true;
                button2.disabled = true;
            }
        }
    </script>
}